/**
 * The screen flashes black when rendering the svg cards. I assume it is because of the way i switch the css stylesheets.
 * This is the easiest solution i ve managed to come up with without rewriting the css into a single file.
 */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.GamePage{
    opacity: 1 !important;
    overflow: visible !important;
}

svg {
    width: 100px;
    height: 100px;
}

#outline-wrapper{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: auto 85px auto 85px auto 85px auto 85px auto;
    grid-template-columns: auto auto auto auto auto;
    -webkit-column-gap: 85px;
    -moz-column-gap: 85px;
    column-gap: 85px;
    row-gap: 35px;
    padding: 50px;
    position: relative;
}

image {
    stroke: black;
    stroke-width: 1px;
}

g:hover > image {
    -webkit-filter: brightness(0) saturate(100%) invert(91%) sepia(5%) saturate(2829%) hue-rotate(295deg) brightness(89%) contrast(96%);
    filter: brightness(0) saturate(100%) invert(91%) sepia(5%) saturate(2829%) hue-rotate(295deg) brightness(89%) contrast(96%);
}

rect {
    fill: #7D576C;
    stroke: #302A30;
    stroke-width: 2px;
}

.card:hover > text{
    fill: #DFB1BB;
    cursor: pointer;
}

.card:hover{
    cursor: pointer;
}

#timer{
    margin: auto;
    font-size: 1.4em;
}

text{
    text-anchor: middle;
    dominant-baseline: middle;
    fill: white;
    font-size: 70px;
    font-family: fantini;
    -webkit-transition: fill 150ms ease-in 10ms;
    -o-transition: fill 150ms ease-in 10ms;
    transition: fill 150ms ease-in 10ms;
    stroke: black;
    stroke-width: 1px
}

#main-menu-button{
    margin: auto;
    margin-top: 25px;
}

.card[data-removed="true"] > text{
    display: none;
    cursor: unset;
}

.card[data-removed="true"] > image{
    display: unset;
    cursor: unset;
    -webkit-filter: brightness(0) saturate(100%) invert(91%) sepia(5%) saturate(2829%) hue-rotate(295deg) brightness(89%) contrast(96%);
    filter: brightness(0) saturate(100%) invert(91%) sepia(5%) saturate(2829%) hue-rotate(295deg) brightness(89%) contrast(96%);
    visibility: visible;
}

.plusSeconds{
    position: fixed;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: plus-seconds-animation;
    animation-name: plus-seconds-animation;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

@-webkit-keyframes plus-seconds-animation {
    100% {-webkit-transform: translateY(-50vh);transform: translateY(-50vh); opacity: 0}
}

@keyframes plus-seconds-animation {
    100% {-webkit-transform: translateY(-50vh);transform: translateY(-50vh); opacity: 0}
}

/*
Cards animations
 */

g.front > image {
    visibility: hidden;
}

g.front.out-in > image {
    -webkit-animation-name: image-disappears-animation;
    animation-name: image-disappears-animation;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.out-in-out > image {
    -webkit-animation-name: image-appears-and-disappears-animation;
    animation-name: image-appears-and-disappears-animation;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.out-in-out > text {
    -webkit-animation-name: text-appears-and-disappears-animation;
    animation-name: text-appears-and-disappears-animation;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

g.front > text {
    display: unset;
}

g.front.out-in > text {
    -webkit-animation-name: text-appears-animation;
    animation-name: text-appears-animation;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}


g.back > image {
    display: unset;
}

g.back.out-in > image {
    -webkit-animation-name: image-appears-animation;
    animation-name: image-appears-animation;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}


g.back > text {
    visibility: hidden;
}

g.back.out-in > text {
    -webkit-animation-name: text-disappears-animation;
    animation-name: text-disappears-animation;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.removed > image {
    -webkit-animation-name: image-appears-animation;
    animation-name: image-appears-animation;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes text-appears-and-disappears-animation{
    0% {-webkit-transform: translateX(0px);transform: translateX(0px); visibility: unset}
    50% {-webkit-transform: translateX(100px);transform: translateX(100px); visibility: unset}
    100% {-webkit-transform: translateX(0px);transform: translateX(0px); visibility: unset}
}

@keyframes text-appears-and-disappears-animation{
    0% {-webkit-transform: translateX(0px);transform: translateX(0px); visibility: unset}
    50% {-webkit-transform: translateX(100px);transform: translateX(100px); visibility: unset}
    100% {-webkit-transform: translateX(0px);transform: translateX(0px); visibility: unset}
}

@-webkit-keyframes image-appears-and-disappears-animation{
    0% {-webkit-transform: translateX(-100px);transform: translateX(-100px); visibility: unset}
    50% {-webkit-transform: translateX(0px);transform: translateX(0px); visibility: unset}
    100% {-webkit-transform: translateX(-100px);transform: translateX(-100px); visibility: unset}
}

@keyframes image-appears-and-disappears-animation{
    0% {-webkit-transform: translateX(-100px);transform: translateX(-100px); visibility: unset}
    50% {-webkit-transform: translateX(0px);transform: translateX(0px); visibility: unset}
    100% {-webkit-transform: translateX(-100px);transform: translateX(-100px); visibility: unset}
}

@-webkit-keyframes image-disappears-animation {
    0% {-webkit-transform: translateX(0px);transform: translateX(0px); visibility: unset}
    50% {-webkit-transform: translateX(0px);transform: translateX(0px); visibility: unset}
    100% {-webkit-transform: translateX(-100px);transform: translateX(-100px); visibility: unset}
}

@keyframes image-disappears-animation {
    0% {-webkit-transform: translateX(0px);transform: translateX(0px); visibility: unset}
    50% {-webkit-transform: translateX(0px);transform: translateX(0px); visibility: unset}
    100% {-webkit-transform: translateX(-100px);transform: translateX(-100px); visibility: unset}
}

@-webkit-keyframes text-appears-animation {
    0% {-webkit-transform: translateX(100px);transform: translateX(100px); visibility: unset}
    50% {-webkit-transform: translateX(100px);transform: translateX(100px); visibility: unset}
    100% {-webkit-transform: translateX(0px);transform: translateX(0px); visibility: unset}
}

@keyframes text-appears-animation {
    0% {-webkit-transform: translateX(100px);transform: translateX(100px); visibility: unset}
    50% {-webkit-transform: translateX(100px);transform: translateX(100px); visibility: unset}
    100% {-webkit-transform: translateX(0px);transform: translateX(0px); visibility: unset}
}

@-webkit-keyframes image-appears-animation {
    0% {-webkit-transform: translateX(-100px);transform: translateX(-100px)}
    100% {-webkit-transform: translateX(0px);transform: translateX(0px)}
}

@keyframes image-appears-animation {
    0% {-webkit-transform: translateX(-100px);transform: translateX(-100px)}
    100% {-webkit-transform: translateX(0px);transform: translateX(0px)}
}

@-webkit-keyframes text-disappears-animation {
    0% {-webkit-transform: translateX(0px);transform: translateX(0px); visibility: unset}
    100% {-webkit-transform: translateX(100px);transform: translateX(100px); visibility: unset}
}

@keyframes text-disappears-animation {
    0% {-webkit-transform: translateX(0px);transform: translateX(0px); visibility: unset}
    100% {-webkit-transform: translateX(100px);transform: translateX(100px); visibility: unset}
}


@media(max-width: 400px) {
    #outline-wrapper{
        grid-template-columns: auto auto auto;
        column-gap: 10px;
        row-gap: 25px;
        margin: 0;
        padding: 10px;
    }

    svg{
        width: 50px;
        height: 50px;
    }

    text {
        font-size: 40px;
    }

    #main-menu-button{
        margin: auto;
        margin-top: 20px;
    }
}

@media(min-width: 400px) and (max-width: 700px) {
    #outline-wrapper{
        grid-template-columns: auto auto auto auto;
        column-gap: 30px;
        margin: 0;
        padding: 10px;
    }

    svg{
        width: 12vw;
        height: 12vw;
    }

    text {
        font-size: 10vw;
    }
}

@media(min-width: 700px) and (max-width: 1070px){
    #outline-wrapper{
        grid-template-columns: auto auto auto auto auto;
        column-gap: 30px;
        row-gap: 3vw;
        margin: 0;
        padding: 2vw;
    }

}