/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

#time {
    color: #DFB1BB;
}

h1 {
    font-weight: unset;
}

input[type="text"]{
    background-color: #7D576C;
    border: 1px solid black;
    color: white;
    width: 80%;
    font-family: magic;
    text-indent: 5px;
    border-radius: 5px;
}

input[type="text"]::-webkit-input-placeholder{
    font-style: italic;
    color: lightgray;
    font-family: magic;
}

input[type="text"]::-moz-placeholder{
    font-style: italic;
    color: lightgray;
    font-family: magic;
}

input[type="text"]:-ms-input-placeholder{
    font-style: italic;
    color: lightgray;
    font-family: magic;
}

input[type="text"]::-ms-input-placeholder{
    font-style: italic;
    color: lightgray;
    font-family: magic;
}

input[type="text"]::placeholder{
    font-style: italic;
    color: lightgray;
    font-family: magic;
}

input[type="submit"]{
    margin: auto;
}

form > div {
    margin: 10px 20px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

label {
    padding-right: 14px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

label ~ input[type="text"]{
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
}

label, label ~ input[type="text"] {
    font-size: 20px;
}

#outline-wrapper {
    padding: 10px 25px 40px;
}

input[type="text"]:disabled{
    cursor: not-allowed;
}

input[type="text"]:invalid, .failed {
    border: 1px solid red !important;
}

@media(max-width: 600px) {
    form > div {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
        display: block;
    }

    label {
        display: block;
    }

    input[type="text"]{
        width: 100%;
    }

    #outline-wrapper {
        padding: 10px 25px 40px;
    }
}