@font-face {
    font-family: 'fantini'; /*a name to be used later*/
    src: url('../resources/font/fantini.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'magic'; /*a name to be used later*/
    src: url('../resources/font/magic.ttf'); /*URL to font*/
}

body{
    background-color: #413156;
    color: white;
    font-family: magic;
}

button, input[type="submit"] {
    background-color: #7D576C;
    color: white;
    border-radius: 10px;
    border: 1px inset black;
    padding: 5px 50px;
    font-size: 20px;
    font-family: magic;
    transition-duration: 0.2s;
    display: block;
}

button:hover, input[type="submit"]:hover {
    cursor: pointer;
    color: #DFB1BB;
}

#outline-wrapper {
    border: 4px solid #DFB1BB;
    border-radius: 10px;
    box-shadow: 0 0 0 0;
    margin: auto;
    display: flex;
    flex-direction: column;
}

main {
    display:grid;
    align-items: center;
    justify-content: center;
    height: 90vh;
    animation-name: main-appearance;
    animation-duration: 1s;
}

.main-disappearance {
    animation-name: main-disappearance;
    animation-duration: 1s;
    translateY(-100%);
}

#connection-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1vh;
    left: 1vw;
    filter: invert(91%) sepia(5%) saturate(2829%) hue-rotate(295deg) brightness(89%) contrast(96%);
    animation-name: connection-icon-appearance;
    animation-duration: 2.5s;
}

@keyframes connection-icon-appearance{
    0%{opacity: 0%}
    50%{opacity: 0%}
    100%{opacity: 100%}
}

@keyframes main-appearance {
    0% {transform: translateY(-100%);}
    100% {transform: translateY(0%);}
}

@keyframes main-disappearance {
    0% {transform: translateY(0%);}
    100% {transform: translateY(-120%);}
}
