/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

#main-menu-header {
    block-size: -moz-fit-content;
    block-size: fit-content;
    display: inline-block;
    background-color: #7D576C;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 50px;
    padding: 5px 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    font-weight: unset;
}

button {
    padding: 5px 40px;
    margin: 40px 125px;
    min-width: 220px;
}

#click-me {
    position: absolute;
    right: 30px;
    top: 40px;
    cursor: pointer;
    -webkit-animation-name: click-me-animation;
    animation-name: click-me-animation;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.spin-header{
    -webkit-perspective: 100px;
    perspective: 100px;
    -webkit-animation-name: spin-header-animation;
    animation-name: spin-header-animation;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes spin-header-animation {
    0% {-webkit-transform: rotateY(0deg);transform: rotateY(0deg);}
    50% {-webkit-transform: rotateY(180deg) rotateZ(180deg);transform: rotateY(180deg) rotateZ(180deg);}
    100% {-webkit-transform: rotateY(360deg) rotateZ(360deg);transform: rotateY(360deg) rotateZ(360deg);}
}

@keyframes spin-header-animation {
    0% {-webkit-transform: rotateY(0deg);transform: rotateY(0deg);}
    50% {-webkit-transform: rotateY(180deg) rotateZ(180deg);transform: rotateY(180deg) rotateZ(180deg);}
    100% {-webkit-transform: rotateY(360deg) rotateZ(360deg);transform: rotateY(360deg) rotateZ(360deg);}
}

@-webkit-keyframes click-me-animation {
    0% {-webkit-transform: scale(1);transform: scale(1); color: white}
    50% {-webkit-transform: scale(1.5);transform: scale(1.5); color: #DFB1BB}
    100% {-webkit-transform: scale(1);transform: scale(1); color: white}
}

@keyframes click-me-animation {
    0% {-webkit-transform: scale(1);transform: scale(1); color: white}
    50% {-webkit-transform: scale(1.5);transform: scale(1.5); color: #DFB1BB}
    100% {-webkit-transform: scale(1);transform: scale(1); color: white}
}

#outline-wrapper {
    padding: 10px 20px 40px;
    position: relative;
}

main {
    -webkit-perspective: 500px;
    perspective: 500px;
}

input[type="file"]{
    display: none;
}

#canvas-div{
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
    /* To adjust the height as well */
    height: fit-content;
}

#canvas-span{
    display: inline-block;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}

#custom-image-button{
    margin-bottom: 20px;
}

canvas{
    float: left;
    padding-right: 15px;
}



@media(max-width: 600px) {
    button {
        margin: 40px 40px;
        min-width: 190px;
        padding: 5px 25px;
    }
}